// @import "custom-style"

// Import full Spectre source code
@import "spectre/src/spectre"
@import "spectre/src/spectre-icons"
@import "spectre/src/spectre-exp"

html, body, #ROOT
	height: 100%
	width: 100%

body
	margin: 0
	overflow: hidden

.form-radio
	min-height: 0.7rem !important

// @import compass
@use 'sass:math'

// n is number of stars required
@function multiple-box-shadow ($n) 
  $value: "#{random(2000)}px #{random(2000)}px #FFF"
  @for $i from 2 through $n
    $value: "#{$value} , #{random(2000)}px #{random(2000)}px #FFF"

  @return unquote($value)

$shadows-small:  multiple-box-shadow(150)
$shadows-medium: multiple-box-shadow(60)
$shadows-big:    multiple-box-shadow(10)
// $shadows-small: 319px 1002px #FFF , 1110px 1598px #FFF , 51px 989px #FFF , 1220px 278px #FFF , 1431px 649px #FFF , 1084px 1103px #FFF , 515px 224px #FFF , 119px 583px #FFF , 266px 1267px #FFF , 1288px 727px #FFF , 835px 333px #FFF , 615px 440px #FFF , 1824px 949px #FFF , 1057px 123px #FFF , 1989px 1988px #FFF , 1156px 1818px #FFF , 1492px 376px #FFF , 740px 492px #FFF , 1933px 1109px #FFF , 1100px 1893px #FFF , 842px 319px #FFF , 1793px 1084px #FFF , 717px 1911px #FFF , 1998px 1775px #FFF , 98px 1130px #FFF , 177px 1267px #FFF , 850px 760px #FFF , 389px 96px #FFF , 427px 1260px #FFF , 1062px 1039px #FFF , 220px 1623px #FFF , 612px 136px #FFF , 691px 1158px #FFF , 1224px 848px #FFF , 1845px 659px #FFF , 277px 737px #FFF , 833px 1023px #FFF , 659px 1902px #FFF , 293px 881px #FFF , 1023px 425px #FFF , 327px 1991px #FFF , 550px 1619px #FFF , 1492px 599px #FFF , 786px 1337px #FFF , 1016px 1840px #FFF , 857px 20px #FFF , 1742px 1136px #FFF , 1470px 434px #FFF , 1064px 1410px #FFF , 983px 1087px #FFF , 499px 1915px #FFF , 606px 797px #FFF , 1135px 1590px #FFF , 1198px 890px #FFF , 1136px 569px #FFF , 62px 1073px #FFF , 394px 1062px #FFF , 155px 830px #FFF , 1474px 1429px #FFF , 1908px 1922px #FFF , 1449px 971px #FFF , 1077px 1289px #FFF , 76px 74px #FFF , 1572px 399px #FFF , 860px 114px #FFF , 1051px 423px #FFF , 1622px 1845px #FFF , 1749px 902px #FFF , 586px 1802px #FFF , 550px 1916px #FFF , 1968px 361px #FFF , 1443px 659px #FFF , 1201px 786px #FFF , 1318px 805px #FFF , 1768px 883px #FFF , 1603px 1798px #FFF , 291px 1032px #FFF , 844px 1831px #FFF , 1042px 1548px #FFF , 792px 899px #FFF , 1144px 819px #FFF , 521px 122px #FFF , 1005px 477px #FFF , 752px 1498px #FFF , 1162px 1696px #FFF , 97px 570px #FFF , 701px 1543px #FFF , 474px 1659px #FFF , 1927px 519px #FFF , 1984px 441px #FFF , 517px 1825px #FFF , 214px 577px #FFF , 1308px 1722px #FFF , 583px 1604px #FFF , 1126px 1367px #FFF , 59px 1718px #FFF , 1740px 339px #FFF , 177px 1284px #FFF , 909px 188px #FFF , 1865px 614px #FFF
// $shadows-medium: 870px 1742px #FFF , 758px 1004px #FFF , 856px 1216px #FFF , 156px 172px #FFF , 270px 235px #FFF , 838px 845px #FFF , 1797px 20px #FFF , 605px 1761px #FFF , 400px 46px #FFF , 21px 439px #FFF , 1488px 427px #FFF , 1975px 1614px #FFF , 339px 47px #FFF , 1878px 297px #FFF , 866px 1200px #FFF , 745px 1952px #FFF , 1460px 1508px #FFF , 1394px 188px #FFF , 4px 1317px #FFF , 851px 749px #FFF , 1229px 761px #FFF , 814px 1065px #FFF , 669px 1702px #FFF , 367px 1061px #FFF , 861px 1022px #FFF , 1956px 1206px #FFF , 1324px 703px #FFF , 595px 275px #FFF , 1447px 41px #FFF , 732px 1428px #FFF , 1484px 695px #FFF , 457px 950px #FFF , 1481px 1941px #FFF , 1627px 663px #FFF , 643px 1470px #FFF , 1078px 1918px #FFF , 1082px 225px #FFF , 1448px 1119px #FFF , 196px 394px #FFF , 1815px 1530px #FFF , 150px 121px #FFF , 1654px 1500px #FFF , 1334px 658px #FFF , 479px 268px #FFF , 1079px 788px #FFF , 757px 564px #FFF , 1349px 771px #FFF , 236px 1117px #FFF , 1988px 1657px #FFF , 475px 577px #FFF , 1756px 1529px #FFF , 530px 1373px #FFF , 22px 1987px #FFF , 1227px 1808px #FFF , 835px 933px #FFF , 708px 86px #FFF , 1130px 1240px #FFF , 1415px 666px #FFF , 1292px 700px #FFF , 163px 1183px #FFF , 175px 712px #FFF , 627px 458px #FFF , 356px 59px #FFF , 698px 1399px #FFF , 7px 551px #FFF , 1478px 1503px #FFF , 816px 1305px #FFF , 546px 122px #FFF , 1838px 599px #FFF , 3px 614px #FFF , 976px 103px #FFF , 1132px 1031px #FFF , 1634px 1962px #FFF , 447px 774px #FFF , 1708px 1966px #FFF , 1246px 160px #FFF , 768px 831px #FFF , 1488px 1792px #FFF , 461px 1419px #FFF , 816px 1511px #FFF , 270px 1737px #FFF , 405px 1243px #FFF , 1598px 631px #FFF , 1686px 1422px #FFF , 383px 1768px #FFF , 1936px 760px #FFF , 660px 335px #FFF , 800px 1270px #FFF , 1010px 1936px #FFF , 1183px 1801px #FFF , 209px 532px #FFF , 1641px 1191px #FFF , 1461px 282px #FFF , 976px 644px #FFF , 1041px 1563px #FFF , 1214px 644px #FFF , 475px 523px #FFF , 478px 918px #FFF , 129px 1052px #FFF , 399px 189px #FFF
// $shadows-big: 1530px 1109px #FFF , 311px 224px #FFF , 1424px 1136px #FFF , 932px 1980px #FFF , 1738px 227px #FFF , 767px 1321px #FFF , 1332px 1454px #FFF , 526px 132px #FFF , 567px 1742px #FFF , 84px 503px #FFF , 1070px 934px #FFF , 141px 1749px #FFF , 930px 1719px #FFF , 464px 969px #FFF , 1071px 760px #FFF , 1622px 1403px #FFF , 1352px 109px #FFF , 266px 99px #FFF , 1147px 726px #FFF , 361px 1091px #FFF , 1847px 886px #FFF , 775px 1491px #FFF , 726px 148px #FFF , 1981px 73px #FFF , 1497px 1432px #FFF , 259px 376px #FFF , 376px 1715px #FFF , 1085px 267px #FFF , 369px 88px #FFF , 689px 680px #FFF , 30px 1520px #FFF , 774px 794px #FFF , 975px 1460px #FFF , 364px 250px #FFF , 589px 794px #FFF , 1499px 1146px #FFF , 1715px 192px #FFF , 1388px 632px #FFF , 1510px 587px #FFF , 1942px 1630px #FFF , 1047px 300px #FFF , 1040px 1566px #FFF , 1234px 1723px #FFF , 1440px 1779px #FFF , 1310px 45px #FFF , 602px 893px #FFF , 45px 1480px #FFF , 156px 1395px #FFF , 570px 445px #FFF , 6px 135px #FFF , 126px 1135px #FFF , 1355px 297px #FFF , 1169px 1379px #FFF , 339px 210px #FFF , 1695px 1755px #FFF , 361px 1484px #FFF , 1276px 69px #FFF , 829px 298px #FFF , 225px 908px #FFF , 550px 310px #FFF , 471px 727px #FFF , 1317px 176px #FFF , 493px 366px #FFF , 277px 1855px #FFF , 115px 108px #FFF , 918px 518px #FFF , 1514px 416px #FFF , 1290px 93px #FFF , 961px 689px #FFF , 86px 328px #FFF , 556px 1789px #FFF , 211px 277px #FFF , 658px 1743px #FFF , 332px 1801px #FFF , 929px 1646px #FFF , 341px 830px #FFF , 1189px 38px #FFF , 864px 286px #FFF , 835px 777px #FFF , 392px 1243px #FFF , 958px 458px #FFF , 1807px 403px #FFF , 34px 741px #FFF , 1962px 116px #FFF , 1176px 1269px #FFF , 52px 1616px #FFF , 1115px 892px #FFF , 679px 311px #FFF , 739px 1953px #FFF , 397px 414px #FFF , 1061px 782px #FFF , 1283px 1357px #FFF , 195px 1252px #FFF , 933px 543px #FFF , 483px 1856px #FFF , 1325px 665px #FFF , 1137px 1946px #FFF , 1636px 1094px #FFF , 1274px 343px #FFF , 1507px 517px #FFF

#stars
  width: 1px
  height: 1px
  background: transparent
  box-shadow: $shadows-small
  animation     : animStar 222s linear infinite
    
  &:after
    content: " "
    position: absolute
    top: 2000px
    width: 1px
    height: 1px
    background: transparent
    box-shadow: $shadows-small
    
#stars2
  width: 3px
  height: 3px
  background: transparent
  box-shadow: $shadows-medium
  animation     : animStar 666s linear infinite
    
  &:after
    content: " "
    position: absolute
    top: 2000px
    width: 3px
    height: 3px
    background: transparent
    box-shadow: $shadows-medium
    
#stars3
  width: 5px
  height: 5px
  background: transparent
  box-shadow: $shadows-big
  animation     : animStar 1111s linear infinite
    
  &:after
    content: " "
    position: absolute
    top: 2000px
    width: 5px
    height: 5px
    background: transparent
    box-shadow: $shadows-big

@keyframes animStar
  from	
    transform: translateX(0px) translateY(0px)
  to		
    transform: translateX(-2000px) translateY(-750px)
