// @import "custom-style"

// Import full Spectre source code
@import "spectre/src/spectre"

body
	margin: 0
	background:#0C0D11
	color: white


html, body, #ROOT
	height: 100%
/*	width: 100%;*/
